<% @days.each do |day| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= day.id %>
    </div>
      <ul class="list-group">
      <% day.graces.each do |grace| %>
        <li class="list-group-item"><%= grace.description %></li>
      <% end %>
      <li class="list-group-item">
        <%= link_to 'New Grace', new_day_grace_path(day), :class => "btn btn-default" %>
      </li>
      </ul>
      <div class="panel-body">
      <%= link_to 'Delete this day', day, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
  </div>
<% end %>

<br>
<%= link_to 'New Day', new_day_path, :class => "btn btn-default" %>
